<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <value name="pub">Developers</value>
  <value name="pub.cluster:getClusterHosts">WmPrivate</value>
  <value name="pub.date:currentDate">WmPrivate</value>
  <value name="pub.ldap:init">WmPrivate</value>
  <value name="pub.ldap:shutdown">WmPrivate</value>
  <value name="pub.list:appendToRecordList">WmPrivate</value>
  <value name="pub.list:appendToRecordListItem">WmPrivate</value>
  <value name="pub.list:copyListItem">WmPrivate</value>
  <value name="pub.list:getListItem">WmPrivate</value>
  <value name="pub.list:getRecordListItem">WmPrivate</value>
  <value name="pub.list:getStringListItem">WmPrivate</value>
  <value name="pub.list:setListItem">WmPrivate</value>
  <value name="pub.list:setRecordListItem">WmPrivate</value>
  <value name="pub.list:setStringListItem">WmPrivate</value>
  <value name="pub.list:stringListToRecordList">WmPrivate</value>
  <value name="pub.record">WmPrivate</value>
  <value name="pub.table">WmPrivate</value>
  <value name="pub.web">WmPrivate</value>
  <value name="pub.smime:getContentType">WmPrivate</value>
  <value name="sample">Developers</value>
  <value name="tutorial">Developers</value>
  <value name="win32">Developers</value>
  <value name="wm.PartnerMgr">Developers</value>
  <value name="wm.server">Administrators</value>
  <value name="wm.server.outboundPasswords">WmPrivate</value>
  <value name="wm.dev">Administrators</value>
  <value name="wm.broker">Administrators</value>
  <value name="wm.xslt">Administrators</value>
  <value name="pub.event.audit">WmPrivate</value>
  <value name="pub.event.exception">WmPrivate</value>
  <value name="pub.event.sessionEnd">WmPrivate</value>
  <value name="pub.event.sessionExpire">WmPrivate</value>
  <value name="pub.event.sessionStart">WmPrivate</value>
  <value name="pub.event.stats">WmPrivate</value>
  <value name="wm.administrator">Administrators</value>
  <value name="wm.administratorResource">Administrators</value>
  <value name="wm.art">Administrators</value>
  <value name="wm.Mainframe">Developers</value>
  <value name="MainframeSampleServices">Developers</value>
  <value name="pub.security.reverseInvoke">WmPrivate</value>
  <value name="wm.prt">Administrators</value>
  <value name="pub.prt">Developers</value>
  <value name="pub.uddi">Developers</value>
  <value name="pub.uddi.client.util">WmPrivate</value>
  <value name="omi">Administrators</value>
  <value name="wm.ism">Administrators</value>
</Values>
