#webMethods Integration Server Configuration
#Wed Jan 14 11:20:06 CET 2009
watt.art.tmgr.timeout=-1
watt.broker.sync.enableBrokerSync=true
watt.broker.sync.forceDispatcherInit=false
watt.brokerCoder.verbose=false
watt.config.systemProperties=mail.imap.partialfetch\=true
watt.core.brokerCoder.wireFormat=3
watt.core.brokerTypeCoder.verbose=false
watt.core.datatype.patternMatcherPool.delayFill=false
watt.core.datatype.patternMatcherPool.maxSize=50
watt.core.datatype.patternMatcherPool.minSize=10
watt.core.generatedTypeName.localName.prefix=__
watt.core.generatedTypeName.namespaceName.authority=localhost
watt.core.schema.generateSubstitutionGroups=false
watt.core.schema.validateIncomingXSD=true
watt.core.template.compatibleScope=false
watt.core.validation.ignoreContent=false
watt.core.validation.maxErrors=1
watt.core.validation.validationEnabled=true
watt.core.xmlreader=
watt.core.xsd.useGeneratedURIForCreateXSD=false
watt.core.xsd.useGeneratedURIForNonRPC=true
watt.debug.layout=legacy
watt.debug.level=Info
watt.debug.locale=
watt.debug.logfile=logs/server.log
watt.debug2.checkfullrate=8
watt.debug2.commentLine=\#
watt.debug2.formatLine=$
watt.debug2.level=2
watt.debug2.logstringfile=lib\\logstr.txt
watt.debug2.maxlogsize=5000000
watt.debug2.outputLine=%
watt.instrumentation.exit.label=
watt.instrumentation.print.label=no
watt.net.broadcast=
watt.net.defaultBufferSize=8096
watt.net.email.validateHost=false
watt.net.encodeToUpperCase=true
watt.net.ftp.ignoreErrors=false
watt.net.ftp.noExtensionKey=ftp_no_extension
watt.net.ftpClientDataConnTimeout=30000
watt.net.ftpConnTimeout=900000
watt.net.ftpDataConnTimeout=60000
watt.net.ftpPassiveLocalAddr=
watt.net.ftpPassivePort.max=
watt.net.ftpPassivePort.min=
watt.net.ftpProxyHost=
watt.net.ftpProxyPort=
watt.net.ftpProxyType=
watt.net.ftpProxyUser=
watt.net.ftpUseCertMap=false
watt.net.ftpUseDefaultContentHdlr=true
watt.net.httpChunkSize=8192
watt.net.httpPass=
watt.net.httpUser=
watt.net.localhost=
watt.net.maxClientKeepaliveConns=5
watt.net.maxRedirects=5
watt.net.proxyHost=
watt.net.proxyPort=
watt.net.proxySkipList=localhost
watt.net.proxyUser=
watt.net.retries=0
watt.net.secureProxyHost=
watt.net.secureProxyPort=
watt.net.secureProxyUser=
watt.net.server=
watt.net.socketProvider=com.wm.ext.iaik.IaikSecureSocket
watt.net.ssl.client.handshake.maxVersion=769
watt.net.ssl.client.handshake.minVersion=2
watt.net.ssl.client.hostnameverification=false
watt.net.ssl.client.strongcipheronly=false
watt.net.ssl.server.clientHandshakeTimeout=20000
watt.net.ssl.server.strongcipheronly=false
watt.net.timeout=0
watt.net.useCookies=true
watt.net.useURLFactory=false
watt.net.userAgent=Mozilla/4.0 [en] (WinNT; I)
watt.net.webapp.cookies.useRelevantPath=true
watt.password.encrypt=1
watt.pkg.art.resourcebundlemanager.verbose=false
watt.proxy.cache=cache
watt.proxy.cacheRules=config/proxy.cnf
watt.security.CADir=
watt.security.CAFingerprints=
watt.security.allowInternalPasswords=false
watt.security.caCert=
watt.security.cert.wmChainVerifier.trustByDefault=true
watt.security.certProvider=com.wm.ext.iaik.IAIKCert
watt.security.fips.mode=false
watt.security.fips.provider=Entrust
watt.security.hw.ncipher.standardPort=
watt.security.ope.AllowInternalPasswordAccess=false
watt.security.pki.jnditimeout=20000
watt.security.pki.performSync=false
watt.security.privateKey=
watt.security.signedCert=
watt.security.ssl.cacheClientSessions=true
watt.security.ssl.client.ignoreEmptyAuthoritiesList=false
watt.security.ssl.ignoreExpiredChains=cLAW
watt.security.ssl.keypurposeverification=false
watt.server=true
watt.server.BrokerDocSync.LockRetries=5
watt.server.I18NLogging=true
watt.server.SOAP.MTOMThreshold=0
watt.server.SOAP.completeLoad=true
watt.server.SOAP.defaultProtocol=SOAP 1.1 Protocol
watt.server.SOAP.directive=soap
watt.server.SOAP.encodeXSIType=true
watt.server.SOAP.enforceMsgPartNS=true
watt.server.SOAP.streamHandlers=
watt.server.SOAP.useMultiReference=true
watt.server.SOAP.validateSOAPMessage=true
watt.server.SoapRPC.checkHeaders=true
watt.server.SoapRPC.debug=false
watt.server.SoapRPC.trace=false
watt.server.SoapRPC.verbose=false
watt.server.WSDL.debug=false
watt.server.allowDirective=
watt.server.auditDBSize=10
watt.server.auditDir=audit
watt.server.auditGuaranteed=true
watt.server.auditLog=perSvc
watt.server.auditMaxFetchSize=100
watt.server.auditMaxPool=10
watt.server.auditMinPool=1
watt.server.auditRetryCount=3
watt.server.auditSync=false
watt.server.auditThreshold=100
watt.server.auditlog.error=true
watt.server.auditlog.gd=true
watt.server.auditlog.security=false
watt.server.auditlog.session=true
watt.server.broker.producer.multiclient=1
watt.server.broker.replyConsumer.fetchSize=5
watt.server.broker.replyConsumer.multiclient=1
watt.server.broker.replyConsumer.sweeperInterval=30000
watt.server.brokerTransport.dur=60
watt.server.brokerTransport.max=60
watt.server.brokerTransport.ret=3
watt.server.cache.flushMins=10
watt.server.cache.gcMins=60
watt.server.cache.isPersistent=true
watt.server.cache.prefetchUser=Administrator
watt.server.cgi.cache=false
watt.server.cgi.unicode=false
watt.server.checkAclsInternally=false
watt.server.clientTimeout=10
watt.server.cluster.SessTimeout=60
watt.server.cluster.aliasList=
watt.server.cluster.aware=false
watt.server.cluster.purgeSessions=5
watt.server.compile=javac -classpath {0} -d {1} {2}
watt.server.compile.exitOnError=false
watt.server.compile.readFromStdErr=true
watt.server.compile.unicode=javac -encoding Unicode -classpath {0} -d {1} {2}
watt.server.control.controlledDeliverToTriggers.delayIncrementInterval=2000
watt.server.control.controlledDeliverToTriggers.delays=500,2000,3000,3500,4000,4500,5000
watt.server.control.freeMemoryThreshold=5
watt.server.control.maxPersist=500000
watt.server.control.maxPublishOnSuccess=50000
watt.server.control.memorySensorInterval=30000
watt.server.control.serverThreadThreshold=15
watt.server.control.threadSensorInterval=2000
watt.server.control.triggerInputControl.delayIncrementInterval=10000
watt.server.control.triggerInputControl.delays=500, 1000, 1500, 5000
watt.server.cron.jobWait=30000
watt.server.cronCatchup=false
watt.server.cronMaxThreads=5
watt.server.cronMinThreads=2
watt.server.data.revertToBasic=false
watt.server.dateStampFmt=yyyy-MM-dd HH\:mm\:ss z
watt.server.db.blocktimeout=-1
watt.server.db.connectionCache=session
watt.server.db.maintainminimum=false
watt.server.db.provider=
watt.server.db.testSQL=
watt.server.debugFIPS=false
watt.server.defaultContentHandler=true
watt.server.defaultCountry=US
watt.server.defaultLanguage=en
watt.server.defaultPackage=Default
watt.server.diagnostic.logperiod=6
watt.server.dispatcher.comms.brokerPing=1800000
watt.server.dispatcher.comms.brokerPollingInterval=10000
watt.server.dispatcher.comms.connectionShareLimit=5
watt.server.dispatcher.exactlyOnce=on
watt.server.dispatcher.join.reaperDelay=1800000
watt.server.displayDirectories=true
watt.server.email.charset=utf-8
watt.server.email.maxThreads=10
watt.server.email.processReplyEmails=false
watt.server.email.processReturnedEmails=false
watt.server.emailPortQueue=
watt.server.enablePasswordChange=true
watt.server.errorMail=
watt.server.event.audit.async=true
watt.server.event.exception.async=true
watt.server.event.gd.async=true
watt.server.event.jmsDeliveryError.async=true
watt.server.event.jmsRetrievalError.async=true
watt.server.event.replication.async=true
watt.server.event.security.async=true
watt.server.event.session.async=true
watt.server.event.stat.async=true
watt.server.event.tx.async=true
watt.server.eventAgentAcl=Default
watt.server.eventAgentPort=5055
watt.server.eventAgentPortEnabled=false
watt.server.eventHandlerUser=Administrator
watt.server.eventMgr.maxThreads=5
watt.server.eventMgr.minThreads=2
watt.server.extendedSettingsList=
watt.server.facList=
watt.server.ftp.listingFileAge=60
watt.server.ftpPort=
watt.server.ftpPortList=
watt.server.hideRuntimeEnvironment=
watt.server.hostAccessMode=include
watt.server.hostAllow=
watt.server.hostDeny=
watt.server.hostMap=
watt.server.httplog=false
watt.server.idr.reaperInterval=10
watt.server.illegalNSChars=?'- \#&@^\!%*\:$./\\`;,~+\=)(|}{][><"
watt.server.indoubtresolver.triggerColumnSize=36
watt.server.indoubtresolver.uuidColumnSize=96
watt.server.invoke.maxRetryPeriod=15000
watt.server.invokeDirective=invoke
watt.server.java.unicode=false
watt.server.jca.transaction.rollbackOnWriteFailure=true
watt.server.jca.transaction.writeRecoveryRecord=true
watt.server.jdbc.defaultDriver=
watt.server.jdbc.driverList=
watt.server.jdbc.extendedDerby=true
watt.server.jdbc.loginTimeout=600
watt.server.jdbc.moreResults=false
watt.server.jdbc.statementCache=false
watt.server.jdbcLogFile=logs/jdbc.log
watt.server.jdbcLogging=off
watt.server.jms.connection.pingPeriod=300
watt.server.jms.connection.retryPeriod=20
watt.server.jms.csq.batchProcessingSize=25
watt.server.jms.trigger.maxDeliveryCount=100
watt.server.jms.trigger.maxPrefetchSize=10
watt.server.jms.trigger.monitoringInterval=60
watt.server.jms.trigger.pooledConsumer.timeout=60000
watt.server.jms.trigger.raiseEventOnException=true
watt.server.jms.trigger.raiseEventOnRetryFailure=true
watt.server.jms.trigger.reuseSession=false
watt.server.jms.trigger.stopRequestTimeout=3
watt.server.jms.wmjms.lms.readTimeout=30000
watt.server.key=
watt.server.ldap=//localhost\:6666
watt.server.ldap.DNescapeChars=\\/
watt.server.ldap.DNescapePairs=
watt.server.ldap.DNescapeURL=false
watt.server.ldap.DNstripQuotes=true
watt.server.ldap.doNotBind=false
watt.server.ldap.extendedMessages=false
watt.server.ldap.extendedProps=
watt.server.ldap.retryCount=0
watt.server.ldap.retryWait=0
watt.server.licenses=1
watt.server.log.maxEntries=35
watt.server.log.queued=true
watt.server.log.refreshInterval=90
watt.server.logRotate=rename
watt.server.loginFailureLimit=5
watt.server.mbean.auditPerCall=false
watt.server.mon.auth=false
watt.server.new.http.session.context=false
watt.server.ns.backupNodes=false
watt.server.ns.dependencyManager=true
watt.server.ns.generateServiceManifest=false
watt.server.ns.hideWmRoot=true
watt.server.ns.lockingMode=full
watt.server.ns.synchronized=true
watt.server.ns.useServiceManifest=false
watt.server.optimize.broker.URL=
watt.server.optimize.broker.name=
watt.server.optimize.monitoring=false
watt.server.partner=
watt.server.password.minDigits=1
watt.server.password.minLength=8
watt.server.password.minLowerChars=2
watt.server.password.minSpecialChars=1
watt.server.password.minUpperChars=2
watt.server.port=5555
watt.server.portList=
watt.server.portQueue=65534
watt.server.pubDateTimeFormat.javaSlidingWindow=false
watt.server.publish.local.rejectOOS=false
watt.server.publish.useCSQ=always
watt.server.publish.usePipelineBrokerEvent=false
watt.server.publish.validateOnIS=perDoc
watt.server.recordToDocument.bufferSize=4096
watt.server.requestCerts=false
watt.server.requireV3Manifests=true
watt.server.revInvoke.proxyMapUserCerts=false
watt.server.scheduler.maxWait=60
watt.server.scheduler.threadThrottle=75
watt.server.serverLogFmt={4}  [{6}{7}.{1}.{0,number,0000}] {3}
watt.server.serverlogQueueSize=8192
watt.server.serviceMail=
watt.server.smtpServer=
watt.server.stats.avgTime=10
watt.server.stats.logfile=logs/stats.log
watt.server.stats.pollTime=60
watt.server.storage.lock.maxDuration=180000
watt.server.storage.lock.maxWait=240000
watt.server.strictAccessExceptionLogging=false
watt.server.threadPool=75
watt.server.threadPoolMin=10
watt.server.transaction.recovery.abandonTimeout=5
watt.server.transaction.recovery.sleepInterval=30
watt.server.trigger.interruptRetryOnShutdown=false
watt.server.trigger.keepAsBrokerEvent=false
watt.server.trigger.local.checkTTL=false
watt.server.trigger.managementUI.excludeList=
watt.server.trigger.monitoringInterval=60
watt.server.trigger.preprocess.suspendAndRetryOnError=false
watt.server.trigger.removeSubscriptionOnReloadOrReinstall=true
watt.server.trigger.reuseSession=false
watt.server.trigger.suspendOnAuditErrorWhen=ErrorPipelineEnabled
watt.server.tspace.location=
watt.server.tspace.max=52428800
watt.server.tx.cluster.jobPendingWait=60
watt.server.tx.cluster.lockBreakSecs=120
watt.server.tx.cluster.lockTimeoutMillis=100
watt.server.tx.heuristicFailRetry=true
watt.server.tx.sweepTime=60
watt.server.txMail=
watt.server.typeSynchronizer.verbose=false
watt.server.updates=None
watt.server.userFtpRootDir=userFtpRoot
watt.server.ws.defaultNamespace=http\://www.webMethods.com/noNamespace/
watt.server.ws.defaultPrefix=webM
watt.server.wsdl.ACLSet=false
watt.server.wsdl.enforceSOAPMsgPartNS=true
watt.server.wsdl.separateXSD=false
watt.server.xml.enforceEntityRef=true
watt.ssl.iaik.debug=false
watt.tx.defaultTTLMins=30
watt.tx.disabled=false
watt.tx.heuristicFailRetry=false
watt.tx.jobThreads=5
watt.tx.retryBackoffTime=60
watt.tx.sweepTime=60
watt.tx.syncWrites=false
watt.tx.vm.id=63245
watt.useCookies=true
watt.xmlrpc.compressSize=2147483647
watt.xmlrpc.version=7
watt.xslt.debug.facList=
watt.xslt.debug.level=2
watt.xslt.debug.logfile=packages/WmXSLT/logs/xslt.log
watt.xslt.jaxp.properties=packages/WmXSLT/config/transformation.properties
